<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="1.jpg" style="width: 50%"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:8080/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost:8080/set_number_win">Set win</a></li>
          
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User's <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost:8080/postDataToEth">Ghi đề</a></li>
          <li><a href="http://localhost:8080/submit">Submit</a></li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>
  
<div class="container" style="padding-top: 150px">
  <h2>18:30:  you are billionaire</h2>
  <form class="form-horizontal" action = "http://127.0.0.1:8080/postDataToEth" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="private_key">PrivateKey:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="private_key" placeholder="private key" name="private_key">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Amount:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="amount" placeholder="Amount" name="amount">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="number" placeholder="Number" name="number">
      </div>
    </div>
    

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  {% if tx is defined %}
     Thông báo :  {{tx}} 
  {% endif %}
</div>
</body>
</html>